.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #05386B;
  }
  * {
    font-family: 'Nunito', sans-serif;    
    font-weight: lighter;
    color: white
}